<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.lundie.jokerpresenter">

    <application>
        <activity
            android:name=".JokePresenterActivity"
            android:label="@string/title_activity_joke_presenter"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>